body{font-family: 'Poppins', sans-serif;  
   margin: 0;       
  }
  .red-color{
      color:red;
  }
  h3{
     color:orange;
  }
  section{
   display: flex;
  }
  .half-width{
     width: 50%;
     padding-left: 07%;
  }
  .half-width img{
     width:100%
  }
  .link-button{
     text-decoration: none;
     background-color: rgb(108, 216, 216);
     padding: 05px 20px;
     border-radius: 10px;
  }
  .top-banner{
     background-image: url(project/images/.top-banner);
     background-repeat: no-repeat;
  }
  section{
     display: flex;
     margin-bottom: 100px;}
     .Dream-big{
        background-image: url(project/images/.Dream-big);
        background-repeat: no-repeat;
        background-position: right;
     }
     .blue-color{
        color:blue;
     }
     .tomato-color{
        color:tomato;
     }
     .experience-area{
        background-image: url(Desktop/project/images/exp-bg.png);
        background-repeat: no-repeat;
        background :left;
     }
     .experience-item{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 10px 20px;
      border-left: 10px solid;
      border-radius: 10px;
      box-shadow:10px 10px 40px  rgb(212, 135, 162)
      
     }
     #web-dev-exp-2{
        border-left: 7px solid;
        border-image: linear-gradient(tomato, orange);
        border-image-slice: 1;
     }
     #web-dev-exp{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan);
        border-image-slice:1;
     }
     footer p 
     {
        text-align: center
     }

   
  


