body{font-family: 'Poppins', sans-serif;  
   margin: 0;       
  }
  .red-color{
      color:red;
  }
  h3{
     color:orange;
  }
  section{
   display: flex;
  }
  .half-width{
     width: 50%;
     padding-left: 07%;
  }
  .half-width img{
     width:100%
  }
  .link-button{
     text-decoration: none;
     background-color: rgb(108, 216, 216);
     padding: 05px 20px;
     border-radius: 10px;
  }
  .top-banner{
     background-image: url(project/images/.top-banner);
     background-repeat: no-repeat;
  }
  section{
     display: flex;
     margin-bottom: 100px;}
     .Dream-big{
        background-image: url(project/images/.Dream-big);
        background-repeat: no-repeat;
        background-position: right;
     }


   
  


